{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" id="main_container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="http://{{ httpHost }}">Case Study</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Reviews</a></li>
                        <li><a href="#">Topics</a></li>
                        <li><a href="#">Criteria</a></li>
                        <li><a href="#">Emphasizers</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="reviewsButtons" class="row">
            <div class="col-xs-6">
                <button class="btn btn-primary">Test analyzer</button>
                <button class="btn btn-primary">Upload reviews (CSV file)</button>
                <button class="btn btn-primary">Analyze ALL reviews</button>
            </div>
        </div>
        <div id="jsGrid"></div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="css/index.css" />
{% endblock %}

{% block javascripts %}
    <script src="js/dist/bundle.js"></script>
    <script>
        window.AnalyzerGUI.init({
            httpHost: "{{ httpHost }}"
        });
    </script>
{% endblock %}
